# Compiled class file
*.class

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# VS Code IDE
.vscode/

# IntelliJ IDEA IDE
.idea/
*.iml
*.iws

# Eclipse IDE
.classpath
.project
.settings/

# macOS / Windows
.DS_Store
Thumbs.db
